/* Commented-out, originally created from newly initialized ReactJS project
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

body, button, input, select, label, textarea {
  font-family: Sans-Serif;
  font-size: 90%;
}

[ng-cloak] {
  display: none;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

fieldset {
  margin: 1em .5em;
  border-style: groove;
  border-radius: .4em;
}

fieldset[disabled] {
  opacity: .3;
  pointer-events: none;
}

fieldset > legend {
  font-weight: bold;
  font-size: 120%;
}

.character-class-pane legend {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
}

.character-pane legend {
  font-weight: normal;
  font-size: 100%;
}

.character-class-pane table {
  font-size: 90%;
  border: 0px;
  width: 100%;
}

.character-class-pane table tr td:nth-child(1) {
  text-align: left;
}

.character-class-pane table tr td:nth-child(2) {
  text-align: right;
}

.character-class-pane table button {
  font-size: 100%;
}
