/* Commented-out, originally created from newly initialized ReactJS project
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

body, button, input, select, label, textarea {
  font-family: Sans-Serif;
  font-size: 90%;
}

:root {
  --square-size: 4em;
  --square-border-size: .1em;
}

[ng-cloak] {
  display: none;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

fieldset {
  margin: 1em .5em;
  border-style: groove;
  border-radius: .4em;
}

fieldset[disabled] {
  opacity: .3;
  pointer-events: none;
}

fieldset > legend {
  font-weight: bold;
  font-size: 120%;
}

.character-pane {
  display: inline-block;
}

.character-class-pane legend {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
}

.character-pane legend {
  font-weight: normal;
  font-size: 100%;
}

table.character-attributes-table {
  font-size: 90%;
  border: 0px;
  width: 100%;
}

table.character-attributes-table tr td:nth-child(1) {
  text-align: left;
}

table.character-attributes-table tr td:nth-child(2) {
  text-align: right;
}

table.character-attributes-table button {
  font-size: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.square {
  background-color: transparent;
  width: calc(var(--square-size) - var(--square-border-size) * 2);
  height: calc(var(--square-size) - var(--square-border-size) * 2);
  border: var(--square-border-size) solid #fff8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.square.shaded {
  background: #fffc;
}

.board-row {
  display: flex;
  white-space: nowrap;
  max-height: var(--square-size);
}

.board {
  background-size: cover;
}
