body, button, input, select {
  font-family: Sans-Serif;
  font-size: 90%;
}

fieldset {
  margin: 1em .5em;
  border-style: groove;
  border-radius: .4em;
}

fieldset > legend {
  font-weight: bold;
  font-size: 120%;
}

fieldset.character-class-fieldset {
  display: inline-block;
  width: 10em;
}

fieldset.character-class-fieldset > legend {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
}

fieldset.character-class-fieldset > table {
  font-size: 90%;
  border: 0px;
  width: 100%;
}

fieldset.character-class-fieldset > table tr td:nth-child(1) {
  text-align: left;
}

fieldset.character-class-fieldset > table tr td:nth-child(2) {
  text-align: right;
}
